CONTACT_TO_EMAIL=info@crownpuppyboutique.com
CONTACT_FROM_EMAIL=Crown Puppy Boutique <hello@crownpuppyboutique.com>
RESEND_API_KEY=

SHOPIFY_STORE_DOMAIN=crownpuppyboutique.myshopify.com
SHOPIFY_STOREFRONT_ACCESS_TOKEN=
SHOPIFY_API_VERSION=2026-04
NEXT_PUBLIC_SHOPIFY_PUBLIC_PRODUCTS_URL=https://crownpuppyboutique.com/products.json?limit=250
