WEB3FORMS_ACCESS_KEY=74404394-155f-445b-a923-8f1bd2e64264

SHOPIFY_STORE_DOMAIN=crownpuppyboutique.myshopify.com
SHOPIFY_STOREFRONT_ACCESS_TOKEN=
SHOPIFY_API_VERSION=2026-04
NEXT_PUBLIC_SHOPIFY_PUBLIC_PRODUCTS_URL=https://crownpuppyboutique.com/products.json?limit=250
